<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363989603173-lr27d88v3mdssng1j5682m52lplbg7fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363989603173-lr27d88v3mdssng1j5682m52lplbg7fa</string>
	<key>API_KEY</key>
	<string>AIzaSyABa959rq7hkQJ-6ZbQ6PfaUrlnrfhd4us</string>
	<key>GCM_SENDER_ID</key>
	<string>363989603173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fithome</string>
	<key>PROJECT_ID</key>
	<string>fithome-9ebbd</string>
	<key>STORAGE_BUCKET</key>
	<string>fithome-9ebbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363989603173:ios:896e71d6ea069137</string>
	<key>DATABASE_URL</key>
	<string>https://fithome-9ebbd.firebaseio.com</string>
</dict>
</plist>